@model PagedList.IPagedList<nymity.codetest.web.ViewModels.CategoryViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<table class="table">
    <tr>
        <th>            
            Category
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("View Products", "Products", new {id = item.CategoryId}, new {@class = "productsByCategory"})
            </td>
        </tr>      
    }

</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))





<div id="Products"></div>

@section scripts{
    <script>
        $(function() {
            $('.productsByCategory').on('click', function (e) {
                $.get($(this).prop('href'),
                    function(response) {
                        $('#Products').html(response);               
                    });
                e.preventDefault();
            });  
        });
    </script>
}